* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  top: 0;
  background-color: #b497d6;
  width: 100%;
  color: white;
  height: 13.7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background-color: #02020a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-list {
  width: 100%;
  height: 10vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 3vh;
  justify-content: center;
  align-items: center;
}

.title-1 {
  text-align: center;
  font-size: 6.5vh;
  padding-bottom: 20px;
}
.title-2 {
  text-align: center;
  font-weight: lighter;
  font-size: 3vh;
  color: white;
}

#projects {
  background-color: #05204a;
  color: white;
  text-align: center;
  padding-top: 70px;
  /* padding-left: 10px;
  padding-right: 10px; */
  display: flex;
  flex-direction: column;
}

.project-title {
  padding-bottom: 50px;
  border-bottom: 2px solid white;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 4vh;
}

.image {
  width: 90%;
  padding-top: 50px;
}

.button {
  width: 90%;
  color: white;
  background-color: #02020a;
  border: none;
  height: 10vh;
  overflow-y: hidden;
}

.button-2 {
  width: 50%;
  color: white;
  background-color: #02020a;
  border: none;
  margin: auto;
  margin-top: 50px;
  height: 8vh;
  margin-bottom: 50px;
  overflow-y: hidden;
}

.list-item {
  text-align: center;
  overflow-y: hidden;
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 3vh;
}

.navbar-link:hover {
  background-color: #05204a;
}

.project-link {
  text-decoration: none;
  color: white;
  padding: 3vh;
  font-size: 16px;
  font-weight: 500;
}

/* span {
  color: #070d59;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
} */

#contact {
  background-color: #02020a;
  color: white;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 5px solid #b497d6;
}

.contact-title {
  font-size: 30px;
  padding-top: 30px;
}
.contact-sub-title {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.contact-link {
  text-decoration: none;
  color: white;
  padding: 3px;
}

.contact-link:hover {
  color: #b497d6;
}

.footer {
  background-color: #02020a;
  color: white;
  padding-top: 35px;
  text-align: center;
}

.footer-text {
  font-weight: lighter;
  padding-bottom: 35px;
  width: 70vw;
  margin: auto;
}

.copyright {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-tabler-heart {
  padding-left: 5px;
}

@media all and (min-width: 768px) {
  .navbar-list {
    justify-content: flex-end;
    align-items: center;
  }

  .list-item {
    overflow-y: hidden;
  }

  .navbar-list:last-child {
    padding-right: 40px;
  }
  .project-title {
    font-size: 6vh;
    padding-bottom: 20px;
  }

  .contact-title {
    font-size: 8vh;
  }

  .contact-navbar {
    display: flex;
    justify-content: center;
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
  }

  .contact-list-item {
    width: 33%;
  }

  .footer {
    display: flex;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
  }

  .copyright {
    width: 50%;
  }
}

@media all and (min-width: 1200px) {
  .navbar-list {
    font-size: 5vh;
  }

  .project-title {
    font-size: 5vh;
    width: 70%;
    border-bottom: 3px solid white;
    margin: auto;
  }

  #projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-tile {
    width: 33%;
  }

  .image {
    height: 345.525px;
  }

  .button {
    margin-left: 1px;
  }

  .button-2 {
    width: 20%;
  }

  .contact-title {
    font-size: 5vh;
    padding-top: 100px;
  }

  .contact-list {
    flex-direction: row;
    flex-wrap: nowrap;

    width: 80%;
    padding-bottom: 100px;
  }

  .contact-list-item {
    width: 80%;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
