* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  background-color: #ee6f57;
  width: 100%;
  color: white;
  height: 13.7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background-color: #070d59;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-list {
  width: 100%;
  height: 10vh;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.title-1 {
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;
}
.title-2 {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  color: #ee6f57;
}

#projects {
  background-color: #1f3c88;
  color: white;
  text-align: center;
  padding-top: 70px;
  /* padding-left: 10px;
  padding-right: 10px; */
  display: flex;
  flex-direction: column;
}

.project-title {
  padding-bottom: 50px;
  border-bottom: 2px solid white;
  margin-left: 5px;
  margin-right: 5px;
}

.image {
  width: 90%;
  padding-top: 50px;
}

.button {
  width: 90%;
  color: white;
  background-color: #070d59;
  border: none;
  height: 10vh;
}

.button-2 {
  width: 50%;
  color: white;
  background-color: #070d59;
  border: none;
  margin: auto;
  margin-top: 50px;
  height: 8vh;
  margin-bottom: 50px;
}

.list-item {
  text-align: center;
}
.navbar-link {
  text-decoration: none;
  color: white;
  padding: 3vh;
}

.navbar-link:hover {
  background-color: #1f3c88;
}

.project-link {
  text-decoration: none;
  color: white;
  padding: 3vh;
  font-size: 16px;
  font-weight: 500;
}

/* span {
  color: #070d59;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
} */

#contact {
  background-color: #070d59;
  color: white;
  text-align: center;
}

.contact-title {
  font-size: 30px;
  padding-top: 30px;
}
.contact-sub-title {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 30px;
}
